.calendar {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;

  color: rgb(74, 32, 103);

  justify-content: center;
  align-items: baseline;
  margin-bottom: 20px;
}

.date-style {
  border: 1px rgb(74, 32, 103) solid;
  padding: 20px;

  width: 100px;
  height: 100px;
}

.data {
  font-weight: 600;
  margin-top: 10px;
  color: rgb(203, 53, 236);
}

.clock {
  width: 550px;
  height: 550px;
  background-image: url(https://i.ibb.co/dBGxSK1/hiclipart-com-3.png);
  background-color: rgba(255, 255, 255, 0);
  background-size: cover;
  border-radius: 50%;
  position: relative;
  left: 450px;
}
.clock-arrow {
  position: absolute;
  background-color: black;
  transform-origin: bottom;
  transform: translateX(-50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.clock-center {
  position: absolute;
  background-color: black;
  top: 268px;
  left: 268px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.clock-seconds__arrow {
  bottom: 50%;
  left: 50%;
  width: 5px;
  height: 40%;
}
.clock-minutes__arrow {
  bottom: 50%;
  left: 50%;
  width: 7px;
  height: 33%;
}
.clock-hours__arrow {
  bottom: 50%;
  left: 50%;
  width: 12px;
  height: 24%;
}

.digital-clock {
  text-align: center;
  font-size: 60px;
  text-shadow: 3px 3px 2px #cecbcd;
}
